.stack {
  animation: 1s ease 0s 1 shake;

  @keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }
}

.result {
  font-size: rem(56px);
  line-height: rem(60px);
  font-weight: 800;
  font-style: italic;
  color: var(--mantine-color-purpleHoneycreeper-6);
  letter-spacing: -2px;

  @media (min-width: $mantine-breakpoint-xl) {
    font-size: rem(104px);
    line-height: rem(114px);
  }
}

.result > span {
  color: var(--mantine-color-mattBlack-6);
}
